.App {
    text-align: center;
}

body {
    background-color: #f7f7f7;
}

hr {
    margin-right: 40%;
    margin-left: 40%;
}

@media only screen and (max-width: 600px) {

   hr{
           margin-right: 10%;
    margin-left: 10%;
   }


}

.App-link {
    color: #61dafb;
}


